.ht-100v {
  height: 100vh;
}

.wd {
  &-300 {
    width: 300px;
  }
  @media (min-width: 480px) {
    &-xs-350 {
      width: 350px;
    }
    &-xs-400 {
      width: 400px;
    }
  }
}

.auth_wrapper {
  border-top: 2px solid $brand-orange;
  padding: 25px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.21);
  border-radius: 8px !important;
}

.alert-animated {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
  .close {
      font-size: unset !important;
      line-height: unset !important;
      margin-left: 20px;
      cursor: pointer;
      transition: all .5s;
  }
}