.order-text {
  text-transform: uppercase;
  background: $brand-orange;
  color: $brand-grey;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 50px;
}

.basic-payment__card-box {
  border: 2px solid $brand-grey;
  padding: 10px;
  border-radius: 16px;
}
