body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  color: $brand-grey;
  font-family: 'Nunito', sans-serif;
  display: block;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

p {
  font-weight: 300;
}

.header {
  &-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg-img.jpeg) no-repeat fixed center;
    background-size: cover;
    padding: 100px 0;
  }
  &-content {
    margin-bottom: 6rem;
  }
  &-wrapper {
    padding: 80px 0;
    img {
      width: inherit
    }
  }
}

// NAVIGATION
.navbar {
  &-logo {
    height: 30px;
  }
  &-right {
    @media (min-width: 768px){
      float: right !important;
      margin-right: -15px;
    }
  }

  &-wrapper {
    top: 40px;
    .nav {
      .nav-link {
        padding: 0 1rem;
        color: $brand-grey;
        &:hover, &:focus {
          color: $brand-orange;
          &:after {
            content: "";
            display: block;
            margin-top: -5px;
            width: 30px;
            height: 1px;
            background-image: linear-gradient(to right, $brand-orange, lighten($brand-orange, 20%));
            transition: all 1s;
          }
        }

        @include media-breakpoint-up(md) {
          padding: 10px 15px !important;
        }
      }
    }
    .navbar-collapse {
      line-height: 3 !important;
    }
  }
  &-scrolling {
    .box-text {
      background-color: $white;
      padding: 5px;
    }
  }

  &-toggler {
    border-color: unset !important;
    border: unset !important;
    cursor: pointer;
    .material-icons {
      color: $white;
      background: $brand-orange;
      padding: 3px 4px;
      border-radius: 4px;
    }
  }
}

// BACKGROUND
.bg {
  &-brand {
    &-primary {
      background-color: $brand-orange;
    }
    &-dark-gray {
      background-color: $brand-grey;
    }
  }
  &-lg {
    background-image: linear-gradient($brand-orange, lighten($brand-orange, 10%))
  }
}

// Text
.text {
  &-brand-primary {
    color: $brand-orange;
  }
  &-gray {
    color: $brand-grey !important;
  }
}

// Font
.font {
  &-paris {
    font-family: 'Parisienne', cursive;
  }
}

.fs {
  &-60 {
    font-size: 60px;
  }
  &-20 {
    font-size: 20px;
  }
  &-18 {
    font-size: 18px;
  }
  &-12 {
    font-size: 12px;
  }
  &-28 {
    font-size: 28px;
  }
  &-10 {
    font-size: 10px;
  }
  &-16 {
    font-size: 16px;
  }
}

.bd-radius {
  border-radius: 50%;
}

// Why Us
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-title:after {
  content: "";
  display: block;
  margin: 1px auto;
  width: 50px;
  height: 3px;
  background-image: linear-gradient(to right, $brand-orange, lighten($brand-orange, 20%));
}

.mockup-width {
  width: 100%;
  border-radius: 4px;
}

.icon-big {
  font-size: 50px !important;
  color: $white;
}

#works {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg-img.jpeg) no-repeat center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

//Footer
.footer {
  background: $brand-grey;
  color: $white;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  .row {
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 30px
  }
  .quick-links p a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .email {
    text-decoration: underline;
  }

  .social-media-logo-container {
    margin-top: 30px
  }

  .copyright-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    p {
      margin-bottom: unset !important;
      a {
        &:hover {
          color: darken($brand-orange, 5%);
        }
      }
    }
  }
}

.mt-60 {
  margin-top: 60px
}

.p-10-15 {
  padding: 10px 15px;
}