@mixin bottomBorder($mt, $h, $w) {
  content: "";
  display: block;
  margin-top: $mt;
  width: $w;
  height: $h;
  background-image: linear-gradient(to right, $brand-orange, lighten($brand-orange, 20%));
  transition: all 1s;
}

@mixin headerBottomBorder($m) {
  content: "";
  display: block;
  margin: $m;
  width: 50px;
  height: 3px;
  background-image: linear-gradient(to right, $brand-orange, lighten($brand-orange, 20%));
}

@mixin roundBtnIcon() {
  font-size: 22px;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px !important;
}