.btn {
  border-radius: 30px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  border: none;
  font-size: 11px;
  margin-bottom: 0;
  text-transform: uppercase;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12) !important;
  transition: all .5s ease !important;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus, &:active, &:hover {
    box-shadow: none !important;
  }

  &-brand {
    &-primary {
      background-color: $brand-orange;
      color: $white;
      &:hover {
        background-color: darken($brand-orange, 10%);
        color: $white;
      }
      &-outline {
        border: 1px solid $brand-orange;
        color: $brand-orange;
        background: transparent;
        &:hover {
          background-color: $brand-orange;
          color: $white;
        }
      }
    }
    &-white {
      background-color: $white;
      color: $brand-orange;
      &-outline {
        border: 1px solid $white;
        color: $white;
        background: transparent;
        &:hover {
          background-color: $white;
          color: $brand-orange;
        }
      }
      &:hover {
        background-color: transparent;
        color: $brand-orange;
        border: 1px solid $brand-orange;
      }
    }
  }

  &-gray {
    background-color: #ddd;
    color: #0e0e0e;
    border: 1px solid #bbb;
    font-size: 10px;
    box-shadow: unset !important;
    &:hover {
      background-color: darken(#ddd, 10%);
    }
  }
}

.alert {
  border: unset;
  &-success {
    border-left: 6px solid #1d643b !important;
  }
  &-danger {
    border-left: 6px solid #761b18 !important;
  }
}