.card {
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  padding: 25px;
  background: $white;
  border: none;
  border-radius: 8px !important;

  &.customer {
    &:hover {
      box-shadow: unset;
    }
  }
  &-image-width {
    width: 50%;
  }
  &-height {
    @include media-breakpoint-up(md) {
      height: 400px;
    }
  }

  &-scale {
    border-bottom: 4px solid $brand-off-white;
    transition: all .5s;
    &:hover {
      margin-top: -10px;
    }
    &.bg-lg {
      border-bottom: 4px solid lighten($brand-orange, 10%) !important;
    }
  }

  &-form {
    &__wrapper {
      .form-group {
        margin-bottom: 15px !important;
        .checkbox {
          input {
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }
    }
    &__label {
      font-weight: bold;
      margin-bottom: 4px !important;
      text-transform: uppercase;
      display: block;
      font-size: 12px;
      font-family: Arial;
    }
    &__input {
      color: $brand-grey !important;
      font-size: 12px !important;
      &:focus {
        border-color: $dark !important;
        box-shadow: none !important;
      }
      &.error {
        border-color: $red;
      }
      &.valid {
        border-color: $green;
      }
    }
  }
}

label {
  &.error {
    font-size: 12px;
    color: $red;
  }
}