.card {
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  padding: 35px 25px;
  border-radius: 16px;
  background: $white;
  border: none;

  &.customer {
    &:hover {
      box-shadow: unset;
    }
  }
  &-image-width {
    width: 50%;
  }
  &-height {
    @include media-breakpoint-up(md) {
      height: 400px;
    }
  }

  &-scale {
    transition: all .5s;
    &:hover {
      transform: scaleY(0.8);
    }
  }

  &-form {
    &__wrapper {
      .form-group {
        margin-bottom: 15px !important;
        .checkbox {
          input {
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }
    }
    &__label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 6px !important;
      display: block;
    }
    &__input {
      color: $brand-grey !important;
      font-size: 12px !important;
      &:focus {
        border-color: $dark !important;
        box-shadow: none !important;
      }
    }
  }
}