.header {
  &-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/bg-img.jpeg) no-repeat fixed center;
    background-size: cover;
    padding: 100px 0;
  }

  &-wrapper {
    padding: 30px 0 100px 0;
    @include media-breakpoint-up(md) {
      padding: 70px 0 100px 0;
    }
    img {
      width: inherit
    }
  }
  &-text h1:after {
    @include headerBottomBorder(0 auto);
    @include media-breakpoint-up(md) {
      margin: 0 !important;
    }
  }
}

// NAVIGATION
.navbar {
  &-logo {
    height: 24px;
    @include media-breakpoint-up(sm) {
      height: 30px;
    }
  }
  &-right {
    @media (min-width: 768px){
      float: right !important;
      margin-right: -15px;
    }
  }

  &-wrapper {
    @include media-breakpoint-up(lg) {
      height: 80px;
    }
    &.tp-40px {
      top: 40px;
    }
    .nav {
      &-link.dropdown-toggle {
        padding: 0 1rem;
        cursor: pointer;
      }
      &-active {
        padding: 0 1rem;
        color: $brand-grey !important;
        &:hover, &:focus, &.active-class {
          color: $brand-orange !important;
          &:after {
            @include bottomBorder(-5px, 1px, 30px)
          }
        }
      }
      &-active, &-link.dropdown-toggle {
        @include media-breakpoint-up(lg) {
          padding: 10px 15px !important;
          font-size: 14px;
        }
      }
    }

    .navbar-collapse {
      line-height: 3 !important;
    }
  }
  &-scrolling {
    .box-text {
      background-color: $white;
      padding: 5px;
    }
  }

  &-toggler {
    border-color: unset !important;
    border: unset !important;
    cursor: pointer;
    .material-icons {
      color: $white;
      background: $brand-orange;
      padding: 3px 4px;
      border-radius: 4px;
    }
  }
}
